body {
  font-family: system-ui;
  background: #fff7ed;
  padding: 12px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff8c42;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.recipe {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.recipe button {
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
